$background-color: rgba(0, 0, 0, 0.9);
$highlight-color: #ebebd3;

// ------------------------------- Media Queries
@mixin for-phone-only {
  // @media (max-width: 599px) {
  @media (max-width: 460px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// --------------------------------- DOM Reset
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;

  @include for-phone-only() {
    margin-top: 14vh;
  }

  @include for-tablet-portrait-up() {
    margin-left: 3.5rem;
  }
}

ul {
  margin: 0;
  padding: 0;
}

//   -------------- Parent of Nav button, Reservation button and Logo
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 14vh;
  padding: 1rem;
  z-index: 10;

  @include for-tablet-portrait-up() {
    justify-content: flex-end;
    background-color: unset;
  }
}

// ----------------------------- Navigation button
.nav__toggle-btn {
  all: unset;
  position: relative;
  padding: 1.5rem 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

// .nav__hamburger
.nav__hamburger {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: transform 100ms ease-out;

  &::after,
  &::before {
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    position: absolute;
    transform: translateY(10px);
  }

  &::before {
    transform: translateY(-10px);
  }

  &.active {
    transform: rotate(45deg);
  }

  &.active::before {
    opacity: 0;
  }

  &.active::after {
    transform: translateY(0px) rotate(-90deg);
  }
}

//----------------------------- Navigation slide out
.nav__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  // overflow: none;
  transition: width 0.3s ease-in;

  &.active {
    width: 100%;
  }

  a {
    display: block;
    opacity: 0;
    font-size: 3em;
    padding: 1rem;
    color: $highlight-color;
    text-decoration: none;
    transform: translateX(-100px);
    transition: transform 0.3s ease-in;
  }

  &.active a {
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &.active a:first-child {
    transition-delay: 0.2s;
  }

  &.active a:nth-child(2) {
    transition-delay: 0.4s;
  }

  &.active a:last-child {
    transition-delay: 0.6s;
  }
}

// ----------------- Navigation Sidebar for phone landscape and up
.nav__sidebar {
  @include for-tablet-portrait-up() {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $background-color;
    transition: width 0.3s ease-in;
  }
  &.active {
    @include for-tablet-portrait-up() {
      width: 80%;
    }
  }
}

// ----------------------------- Reservation button
.reserve__btn {
  all: unset;
  width: 5rem;
  padding: 0.45rem 0.5rem;
  text-transform: uppercase;
  text-align: center;
  //   find a better font for this
  font-family: "Roboto";
  font-weight: 800;
  cursor: pointer;
  border: 1px solid $highlight-color;
  color: $highlight-color;
  z-index: 110;
  display: initial;

  span:first-child {
    display: inline-block;
  }

  span:last-child {
    display: none;
  }

  &.active span:first-child {
    display: none;
  }

  &.active span:last-child {
    display: inline-block;
  }
}

// ---------------------------- Reservations slider
// issue with page scrolling behind both sliders
.reserve__container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
  text-align: center;
}

.reserve__slider {
  color: $highlight-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100vh;
  background-color: $background-color;
  overflow: auto;
  transition: width 1.3s ease-in;

  &.active {
    width: 100%;
  }
}

// ----------------------------------- #home
#home {
  height: 86vh;
  background: url("https://via.placeholder.com/1920x1080") no-repeat center
    center;
  background-size: cover;
}
// ----------------------------------- #menu
#menu {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #333;

  button {
    all: unset;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    text-align: center;
    //   find a better font for this
    font-family: "Roboto";
    font-weight: 200;
    cursor: pointer;
    border: 1px solid $highlight-color;
    color: $highlight-color;
    z-index: 2;
    margin-bottom: 4rem;
  }
}

//---------------------------------- #location
#location {
  iframe {
    height: 40vh;
    display: block;
  }

  h2 {
    letter-spacing: 0.3rem;
    font-weight: 900;
  }

  section {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    color: $highlight-color;
    background-color: #000;
    padding-top: 3rem;
    padding-bottom: 4rem;
    letter-spacing: 2px;

    a {
      color: $highlight-color;
      text-decoration: none;
    }

    h3 {
      margin-top: 2rem;
      margin-bottom: 0;
    }

    span {
      font-size: 1rem;
      font-style: italic;
    }
  }
}
// --------------------------------- #gallery
#gallery {
  height: 86vh;
  background: url("https://via.placeholder.com/1920x1080") no-repeat center
    center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
// ------------------------------- #contact / form
// todo - vars, cleanup, checkbox
#contact {
  // min-height: 86vh;
  // min-height: 120vh;
  background-color: #e1e1e1;
  height: 100%;
  padding: 4rem 0 1rem 0;

  h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
    letter-spacing: 1px;
    // padding-top: 3rem;
    text-transform: uppercase;
    color: #333;
  }

  form {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    outline: none;
    background-color: unset;

    &[type="checkbox"] {
      // display: unset;
      width: unset;
      // border: 1px solid red;
      margin-right: 0.75rem;
    }
  }

  textarea {
    // test performance vs a repeating image
    // https://stackoverflow.com/questions/9468153/textarea-with-horizontal-rule
    background-attachment: local;
    background-image: linear-gradient(to right, #e1e1e1 10px, transparent 10px),
      linear-gradient(to left, #e1e1e1 10px, transparent 10px),
      repeating-linear-gradient(
        // white,
          #e1e1e1,
        // white 30px,
          #e1e1e1 30px,
        // #ccc 30px,
          #000 30px,
        //  #ccc 31px,
          #000 31px,
        // white 31px
          #e1e1e1 31px
      );
    line-height: 31px;
    padding: 8px 10px;
    resize: vertical;

    // -webkit-writing-mode: horizontal-tb !important;
    // text-rendering: auto;
    // letter-spacing: normal;
    // word-spacing: normal;
    // text-indent: 0px;
    // text-shadow: none;
    // text-align: start;
    // -webkit-rtl-ordering: logical;
    // cursor: text;
    // white-space: pre-wrap;
    // overflow-wrap: break-word;
    // font: 400 13.3333px Arial;
  }

  .signup {
    font-size: 0.9rem;
    display: flex;
    align-items: flex-start;
    border: none;
  }

  div {
    border-bottom: 1px solid #333;
    // width: 45%;
    text-align: center;
  }

  button {
    all: unset;
    justify-self: center;
    width: 10rem;
    margin-top: 2rem;
    padding: 0.45rem 0rem;
    text-transform: uppercase;
    text-align: center;
    //   find a better font for this
    font-family: "Roboto";
    font-weight: 100;
    cursor: pointer;
    border: 1px solid #333;
    color: #333;
    z-index: 110;
    display: initial;
  }
}

// ---------------------------------- #footer
footer {
  background-color: #464646;
  color: $highlight-color;
  min-height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding-top: 1rem;
  padding-bottom: 2rem;

  h2 {
    line-height: 1;

    span {
      font-style: italic;
      font-size: 0.9rem;
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .footer__address {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    color: $highlight-color;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
  }
}
