html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  height: 6rem;
  padding: 1rem;
}

@media (min-width: 600px) {
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: unset;
  }
}

.nav__toggle-button {
  all: unset;
  position: relative;
  padding: 1.5rem 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.nav__hamburger {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

.nav__hamburger::after, .nav__hamburger::before {
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.nav__hamburger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav__hamburger.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__hamburger.active::before {
  opacity: 0;
}

.nav__hamburger.active::after {
  -webkit-transform: translateY(0px) rotate(-90deg);
          transform: translateY(0px) rotate(-90deg);
}

.nav__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.nav__slider.active {
  width: 100%;
}

.nav__slider a {
  display: block;
  opacity: 0;
  font-size: 3em;
  padding: 1rem;
  color: #ebebd3;
  text-decoration: none;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.nav__slider.active a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.nav__slider.active a:first-child {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav__slider.active a:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav__slider.active a:last-child {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media (min-width: 600px) {
  .nav__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@media (min-width: 600px) {
  .nav__sidebar.active {
    width: 80vw;
  }
}

.reserve__btn {
  all: unset;
  padding: 0.45rem 0.5rem;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 800;
  cursor: pointer;
  border: 1px solid #ebebd3;
  color: #ebebd3;
  z-index: 10;
}

.reserve__slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.reserve__slider.active {
  width: 100%;
}

.reserve__slider a {
  display: block;
  color: #ebebd3;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  font-size: 3em;
  padding: 1rem;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.reserve__slider.active a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.reserve__slider.active a:first-child {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.reserve__slider.active a:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.reserve__slider.active a:last-child {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.place-holder {
  display: none;
}

footer {
  display: none;
}
/*# sourceMappingURL=style.css.map */