$background-color: rgba(0, 0, 0, 0.9);
$highlight-color: #ebebd3;
$shadow: 2px 2px black;
$text-color: #ebebd3;

// -------------------- Utilities
@mixin btn($width) {
  width: $width;
  height: 100%;
  background-color: transparent;
  color: $text-color;
  border: 1px solid $highlight-color;
  font-weight: 200;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  box-shadow: $shadow;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

// --------------------- Media Queries
@mixin for-phone-only {
  // @media (max-width: 599px) {
  @media (max-width: 460px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// -------------------- DOM Reset
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

//   -------------- Parent of Nav button, Reservation button and Logo
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  height: 5rem;
  padding: 1rem;
  //   z-index: 10;

  @include for-tablet-portrait-up() {
    justify-content: flex-end;
    background-color: unset;
  }
}

// ----------------- Navigation button
.nav__toggle-btn {
  all: unset;
  position: relative;
  padding: 1.5rem 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

// .nav__hamburger
.nav__hamburger {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: transform 100ms ease-out;

  &::after,
  &::before {
    content: "";
    width: inherit;
    height: inherit;
    background-color: inherit;
    position: absolute;
    transform: translateY(10px);
  }

  &::before {
    transform: translateY(-10px);
  }

  &.active {
    transform: rotate(45deg);
  }

  &.active::before {
    opacity: 0;
  }

  &.active::after {
    transform: translateY(0px) rotate(-90deg);
  }
}

//-------------------------- Navigation slide out
// check all ease transitions
.nav__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  overflow: hidden;
  transition: width 0.3s ease-in;
  //

  //   transition-delay: 0;

  &.active {
    width: 100%;
    // transition-delay: 1s;
  }

  a {
    display: block;
    opacity: 0;
    font-size: 3em;
    padding: 1rem;
    color: $highlight-color;
    text-decoration: none;
    transform: translateX(-100px);
    transition: transform 0.5s ease-in;

    //
    // transition-property: opacity, transform;
    // transition-duration: 0.5s;
    // transition-timing-function: ease-out;
  }

  a:first-child {
    transition-delay: 1.2s;
  }

  a:nth-child(2) {
    transition-delay: 1.4s;
    color: red;
  }

  a:last-child {
    transition-delay: 1.6s;
  }

  &.active a {
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &.active a:first-child {
    transition-delay: 0.2s;
  }

  &.active a:nth-child(2) {
    transition-delay: 0.4s;
  }

  &.active a:last-child {
    transition-delay: 0.6s;
  }
}

// ---------- Navigation Sidebar for phone landscape and up
.nav__sidebar {
  @include for-tablet-portrait-up() {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $background-color;
  }
  &.active {
    @include for-tablet-portrait-up() {
      width: 80vw;
    }
  }
}

// ---------------- Reservation button
.reserve__btn {
  all: unset;
  padding: 0.45rem 0.5rem;
  text-transform: uppercase;
  //   find a better font for this
  font-family: "Roboto";
  font-weight: 800;
  cursor: pointer;
  border: 1px solid $highlight-color;
  color: $highlight-color;
  z-index: 10;
  display: initial;

  &.active {
    opacity: 0;
  }
}

// ------------------- Reservations slider
.reserve__slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  overflow: hidden;
  transition: width 0.3s ease-in;

  &.active {
    width: 100%;
  }

  & a {
    display: block;
    color: $highlight-color;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    font-size: 3em;
    padding: 1rem;
    transform: translateX(100px);
    transition: transform 0.5s ease-in;
  }

  &.active a {
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &.active a:nth-child(2) {
    transition-delay: 0.2s;
  }

  &.active a:nth-child(3) {
    transition-delay: 0.4s;
  }

  &.active a:last-child {
    transition-delay: 0.6s;
  }

  //------- reservation slider close button
  .reserve__btn--close {
    all: unset;
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: none;

    &.active {
      display: block;
    }

    .reserve__close-x {
      width: 26px;
      height: 2px;
      background-color: #fff;
      position: relative;
      transform: rotate(45deg);
      transition: transform 100ms ease-out;

      &::after {
        content: "";
        width: inherit;
        height: inherit;
        background-color: inherit;
        position: absolute;
        transform: rotate(-90deg);
      }
    }
  }
}

// ----------- Sections not shown on mobile portrait
.place-holder {
  display: none;
}

footer {
  display: none;
}
